.footer__column-link_icon_vk{
  color: white;
  background-image: url(../../../../images/vk_color_white.svg);
  background-position: left;
  background-repeat: no-repeat;
  text-decoration: none;
  padding-left: 26px;
}